<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="All tests suite">
    <test name="All tests">
        <classes>
            <class name="lesson_13.EditTests"/>
            <class name="lesson_13.RegistrationTests"/>
        </classes>
    </test>
</suite>
